@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=latin-ext');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  margin: 0; padding: 0;
  line-height: 1.3em;
  font-size: 1em;
  color: #000000;
  border-top: 5px solid #333333;
}
body.unscrollable {
  overflow: hidden;
}
a {color: #336699; text-decoration: none;}
.blurb a, .para a, .paraheading a {border-bottom: 1px dotted #336699; padding-bottom: 2px;}
.blurb a:hover, .para a:hover, .paraheading a:hover {color: #6699cc;}

div.header {
  background-color: #ffffff;
  padding: 40px 0px 20px 0px;
}
div.header div.inside {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}
div.header a.logo {
  display: inline-block;
  margin-left: -5px;
}
div.header a.logo span.line {
  display: block;
  font-size: 1.5em;
  margin: 0px 0px 3px 0px;
}
div.header a.logo span.line > span {
  display: inline-block;
  font-weight: bold;
  background-color: #333333;
  color: #fff9c2;
  border-radius: 2px;
  padding: 12px 60px 12px 20px;
}
div.header a.logo:hover span.line > span {
  color: #faf2a1;
}
div.header span.socials {
  float: right;
}
div.header span.socials a {
  margin-right: 0px;
  margin-left: 15px;
  font-size: 1.5em;
}
div.header span.socials a:hover {
  color: #6699cc;
}
div.header a.obrlogo {
  display: block;
  position: absolute; top: 45px; right: 0px;
  width: 113px; height: 50px;
  box-sizing: border-box;
  background-image: url(/obr.jpg); background-position: center; background-repeat: no-repeat;
}

div.envelope {
  background-color: #ffffff;
  padding: 20px 0px 100px 0px;
}
div.envelope > div.inside {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
}
div.envelope > div.inside > div.singlecolumn {
  max-width: 800px;
  margin: 60px auto 0px auto;
}
div.envelope > div.inside div.clear {
  clear: both;
}

div.onethird a.maplogo {
  display: none;
}

div.mapContainer {
  position: relative;
}
div.maepchen {
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  border-radius: 4px;
  position: relative;
  /* border: 5px solid #fff9c2; */
  border: 2px solid #336699;
  box-sizing: border-box;
}
div.maepchen.homePage {
  height: 300px;
  border-radius: 0px 4px 4px 4px;
}
div.maepchen.hotspotPage {
  height: 300px;
}
div.maepchen.formPage {
  height: 280px;
  margin-bottom: 20px;
}
a.maximizer {
  display: block;
  position: absolute; top: 0px; right: 0px;
  font-size: 20px;
  z-index: 10000;
  background-color: #336699;
  color: #fff9c2;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0px 4px 0px 4px;
}
a.maximizer:hover {
  color: #faf2a1;
}
a.minimizer {
  display: none;
}
div.target {
  display: block;
  position: absolute; top: 100px; left: 50%; margin-left: -40px;
  z-index: 10000;
  background-image: url(/target.svg);
  background-size: contain;
  box-sizing: border-box;
  width: 80px; height: 80px;
  border-radius: 40px;
}

div.mapContainer.maximized {
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
}
div.mapContainer.maximized div.maepchen {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}
div.mapContainer.maximized a.maximizer {
  display: none;
}
div.mapContainer.maximized a.minimizer {
  display: block;
  position: absolute; top: 0px; right: 0px;
  font-size: 20px;
  z-index: 10000;
  background-color: #336699;
  color: #fff9c2;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0px 0px 0px 4px;
}
a.minimizer:hover {
  color: #faf2a1;
}

div.footer {
  color: #ffffff;
  padding: 10px;
  font-size: 0.95rem;
}
div.footer div.inside {
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 0px;
}
div.footer div.inside div.left {
  float: left;
}
div.footer div.inside div.right {
  float: right;
  text-align: right;
}
div.footer div.inside div.clear {
  clear: both;
}
div.footer div.slogan {
  margin: 0px 0px 0.5em 0px;
  font-size: 1.5em;
  line-height: 1.5em;
}
div.footer div.line {
  margin: 0px 0px 0.5em 0px;
}
div.footer div.line.sitetitle {
  font-weight: bold;
  margin-bottom: 1.5em;
}
div.footer a {
  color: #ffffff;
}
div.footer div.socials {
  margin-top: 2em;
  margin-bottom: 2em;
}
div.footer div.socials a {
  margin-right: 1.5em;
  font-size: 1.25em;
}
div.footer div.socials a.email {
  margin-right: 0px;
  font-size: 0.95rem;
}
div.footer a:hover {
  color: #99ccff;
}

div.signposts {
  margin-top: 0px;
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: 60px;
}
div.signposts > div.clear {
  clear: left;
}
a.signpost {
  box-sizing: border-box;
  padding: 0px 10px;
  display: block;
  float: left;
  text-align: center;
  color: #000000;
  width: 25%;
}
a.signpost span.icon {
  display: inline-block;
  background-color: #336699;
  color: #fff9c2;
  width: 60px; height: 60px;
  border-radius: 60px;
  font-size: 30px;
}
a.signpost.prominent span.icon {
  background-color: #e427a7;
}
a.signpost span.icon i {
  margin-top: 15px;
}
a.signpost span.overtitle {
  margin-top: 15px;
  display: block;
  font-weight: bold;
}
a.signpost span.title {
  margin-top: 5px;
  display: block;
  font-size: 1em;
  line-height: 1.35em;
}
a.signpost:hover {
  color: #003366;
}
a.signpost:hover span.icon {
  color: #faf2a1;
}

div.paraheading {
  font-size: 1.25em;
  line-height: 1.75em;
  padding-right: 30px;
  margin-bottom: 20px;
}
div.para {
  font-size: 1em;
  line-height: 1.75em;
  padding-right: 30px;
  margin-bottom: 20px;
}

div.breadcrumbs {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 30px;
}
div.breadcrumbs a.step {
  color: #000000;
}
div.breadcrumbs a.step:hover {
  color: #336699;
}
div.breadcrumbs .step {
}
div.breadcrumbs span.divider {
  margin: 0px 0.5em;
  color: #999999;
}

div.announce {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 30px;
  color: #333333;
  position: relative;
  padding-left: 2.75em;
}
div.announce span.icon {
  font-size: 1.5em;
  margin-right: 0.4em;
  position: absolute;
  left: 0px; top: 10px;
}
div.announce span.heading {
  display: block;
}
div.announce span.heading span.intro {
  font-weight: bold;
  font-size: 0.95em;
}
div.announce span.heading span.overtitle {
  font-size: 0.95em;
}
div.announce span.heading span.divider {
  color: #999999;
  margin: 0px 0.25em;
}
div.announce span.content {
  display: block;
  font-size: 1.1em;
}
div.announce span.content a {
  font-weight: bold;
}
div.announce span.content a:hover {
  color: #6699cc;
}

div.maptitle {
  text-align: left;
  z-index: 1;
  position: relative;
  margin-bottom: -2px;
  font-size: 1.1em;
}
div.maptitle span {
  background-color: #eeeeee;
  border: 2px solid #336699;
  border-bottom: 0px;
  padding: 10px 20px 12px 20px;
  border-radius: 10px 10px 0px 0px;
  display: inline-block;
  font-weight: bold;
  color: #666666;
}

div.narrative {
  margin-bottom: 40px;
  margin-top: 20px;
  padding-top: 35px;
}
div.narrative.topbracket {
  border-top: 5px solid #eeeeee;
  border-radius: 20px;
  padding-left: 35px;
  margin-left: -35px;
  padding-right: 35px;
  margin-right: -35px;
}

div.gislink {
  margin-top: 15px;
  margin-left: 2px;
}
div.gislink a {
  border-bottom: 0px;
}
div.gislink a:hover {
  color: #6699cc;
}
div.gislink a i {
  margin-right: 0.25em;
  font-size: 1.25em;
}

div.bubble {
  font-size: 1rem;
  color: #333333;
}
div.bubble div.title {
  font-size: 1.25rem;
  margin-bottom: 0.25em;
  color: #000000;
}
div.bubble div.title a {
  color: inherit;
}
div.bubble div.title a:hover {
  color: #336699;
}
div.bubble div.blurb {}

div.formfield {
  line-height: 1.75em;
  margin: 40px 0px;
}
div.formfield span.obligo {
  float: right;
  color: #cccccc;
}
div.formfield div.title {
  margin-bottom: 10px;
}
div.formfield div.subtitle {
  margin-bottom: 10px;
  color: #666666;
}
div.formfield div.subtitle label {
  cursor: pointer;
}
div.formfield div.subtitle label:hover {
  color: #336699;
}
div.formfield div.title span.numero {
  background-color: #dddddd;
  padding: 3px 15px;
  border-radius: 2px;
  margin-right: 0.25em;
  font-weight: bold;
}
div.formfield div.legend {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #666666;
}
div.formfield input.textbox {
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid #999999;
  border-radius: 2px;
  padding: 10px 15px;
}
div.formfield input.textbox.readonly {
  background-color: #eeeeee;
}
div.formfield textarea.textbox {
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid #999999;
  border-radius: 2px;
  padding: 10px 15px;
  resize: vertical;
}
div.formfield textarea.textbox.short {
  height: 4em;
}
div.formfield textarea.textbox.long {
  height: 200px;
}

div.formsubmit {
  line-height: 1.75em;
  margin: 40px 0px;
  text-align: right;
}
div.formsubmit div.ticky {
  float: left;
  text-align: left;
}
div.formsubmit div.ticky label {
  cursor: pointer;
}
div.formsubmit input.submit {
  box-sizing: border-box;
  font: inherit;
  border: 1px solid #999999;
  border-radius: 2px;
  padding: 10px 25px;
  cursor: pointer;
}

div.underform {
  line-height: 1.75em;
  margin: 20px 0px;
}

div.formsuccess {
  margin: 30px 0px;
  padding: 70px 0px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 2px;
}
div.formsuccess div.icon {
  font-size: 50px;
}
div.formsuccess div.message {
  margin-top: 10px;
  font-size: 1.25em;
}

div.hotspots {
  margin-top: 20px;
  line-height: 1.75em;
  text-align: justify;
}
div.hotspots div.heading {
  background-image: url(hotspot.png);
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 60px;
  font-size: 1.25em;
  margin-bottom: 10px;
  padding-top: 5px;
  box-sizing: border-box;
  min-height: 40px;
  margin-top: 25px;
}
div.hotspots div.heading.first {
  margin-top: 30px;
}
div.hotspots div.heading.noicon {
  background-image: none;
  padding-left: 0px;
  margin-top: 20px;
}
div.hotspots a.hotspot {
}
div.hotspots a.hotspot:hover {
  color: #6699cc;
}
div.hotspots div.chapter {
  margin-bottom: 20px;
}
div.hotspots div.chapter span.icon {
  font-size: 1.5em;
  margin-right: 0.4em;
}
div.hotspots span.intertitle {
  font-weight: bold;
  color: #666666;
  background-color: #eeeeee;
  padding: 3px 6px;
  border-radius: 2px;
  margin-right: 0.4em;
  margin-left: -3px;
}
div.hotspots a.hotspot.fat {
  font-weight: bold;
}

div.announces {
  margin-top: 50px;
  line-height: 1.75em;
}
div.announces div.heading {
  font-size: 1.25em;
  margin-bottom: 10px;
  padding-top: 5px;
  box-sizing: border-box;
  min-height: 40px;
}
