@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=latin-ext');
body {font-family: 'Montserrat', sans-serif; background-color: #333333; margin: 0; padding: 0; line-height: 1.3em; font-size: 1em; color: #000000;}
a {color: #336699; text-decoration: none;}
.blurb a, .para a, .overfooter a {border-bottom: 1px dotted #336699; padding-bottom: 2px;}
.blurb a:hover, .para a:hover, .overfooter a:hover {color: #6699cc;}

div.stripe {
  background-color: #dddddd;
  padding: 10px 0px;
  font-size: 0.95rem;
}
div.stripe div.inside {
  max-width: 1200px;
  margin: 0px auto;
}
div.stripe a {
  color: #000000;
  margin-right: 1.5em;
}
div.stripe span.socials {
  float: right;
}
div.stripe span.socials a {
  margin-right: 0px;
  margin-left: 1.5em;
  font-size: 1.25em;
}
div.stripe a:hover {
  color: #336699;
}

div.header {
  background-color: #ffffff;
  padding: 50px 0px 20px 0px;
}
div.header div.inside {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

div.header a.logo {
  display: inline-block;
  margin-left: -5px;
}
div.header a.logo span.line {
  display: block;
  font-size: 1.5em;
  margin: 0px 0px 3px 0px;
}
div.header a.logo span.line > span {
  display: inline-block;
  font-weight: bold;
  background-color: #333333;
  color: #fff9c2;
  border-radius: 2px;
  padding: 10px 60px 10px 20px;
}
div.header a.logo:hover span.line > span {
  color: #faf2a1;
}

div.header a.maplogo {
  display: block;
  position: absolute; top: -10px; right: -30px;
  height: 100px;
  box-sizing: border-box;
  padding-top: 100px;
}
div.header a.maplogo span.lines {
  position: absolute; bottom: 5px; right: 75px;
}
div.header a.maplogo span.line {
  text-align: right;
  display: block;
  font-size: 1em;
  margin: 0px 0px 3px 0px;
  white-space: nowrap;
}
div.header a.maplogo span.line > span {
  display: inline-block;
  font-weight: bold;
  background-color: #444444;
  color: #fff9c2;
  border-radius: 2px;
  padding: 5px 20px 5px 20px;
}
div.header a.maplogo span.line.line1 > span {
  padding-right: 100px;
}
div.header a.maplogo span.line.line2 > span {
  padding-right: 70px;
}
div.header a.maplogo span.outline {
  background-image: url(/obrys.svg); background-position: center; background-size: contain; background-repeat: no-repeat;
  position: absolute; top: 0px; right: 0px; bottom: 0px; width: 200px;
}
div.header a.maplogo span.icon {
  display: block;
  position: absolute; top: 35px; right: 85px;
  color: #e427a7;
  font-size: 25px;
}
div.header a.maplogo span.icon i {
}
div.header a.maplogo:hover span.line > span {
  color: #faf2a1;
}
div.header a.maplogo:hover span.outline {
  top: -1px; right: -1px; bottom: -1px; width: 202px;
}

div.envelope {
  background-color: #ffffff;
  padding: 40px 0px 100px 0px;
}
div.envelope > div.inside {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
}
div.envelope > div.inside > div.twothirds {
  float: left;
  width: 60%;
  box-sizing: border-box;
  padding-right: 0px;
}
div.envelope > div.inside > div.onethird {
  float: left;
  width: 40%;
  box-sizing: border-box;
  padding-left: 30px;
}
div.envelope > div.inside > div.singlecolumn {
  max-width: 800px;
  margin: 100px auto 0px auto;
}
div.envelope > div.inside div.clear {
  clear: both;
}

div.onethird a.maplogo {
  display: none;
}

div.overfeature {
  color: #333333;
}
div.overfeature span.intertitle {
  font-size: 1.1em;
  color: #000000;
}
div.overfeature a.reload {
  font-weight: normal;
  text-decoration: none;
  margin-left: 10px;
  float: right;
}
div.overfeature a.reload:hover {
  color: #6699cc;
}
div.overfeature a.reload i {
  font-size: 0.8em;
  margin-right: 0px;
}
div.feature {
  margin-top: 20px;
  position: relative;
}
div.feature div.title {
  margin-top: 25px;
  font-size: 1.5em;
  line-height: 1.5em;
}
div.feature div.title a {
  color: #000000;
}
div.feature div.title a:hover {
  color: #336699;
}
div.feature div.blurb {
  margin-top: 10px;
  line-height: 1.75em;
}
div.feature div.wait {
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  background-color: #ffffff;
  background-image: url("/wait.gif");
  background-position: center top+100px;
  background-repeat: no-repeat;
}

div.maepchen {
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  border-radius: 4px;
  position: relative;
  /* border: 5px solid #fff9c2; */
  border: 2px solid #336699;
  box-sizing: border-box;
}
div.maepchen.hotspotPage {
  height: 300px;
  margin-bottom: -50px;
}

div.overfooter {
  color: #333333;
  background-color: #ffffff;
  padding: 10px;
  font-size: 0.95rem;
}
div.overfooter div.inside {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 0px;
  line-height: 1.5em;
  padding-right: 300px;
  box-sizing: border-box;
}
div.overfooter div.inside i {
  margin-right: 0.5em;
}

div.footer {
  color: #ffffff;
  padding: 10px;
  font-size: 0.95rem;
}
div.footer div.inside {
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 0px;
}
div.footer div.inside div.left {
  float: left;
}
div.footer div.inside div.right {
  float: right;
  text-align: right;
}
div.footer div.inside div.clear {
  clear: both;
}
div.footer div.slogan {
  margin: 0px 0px 0.5em 0px;
  font-size: 1.5em;
}
div.footer div.line {
  margin: 0px 0px 0.5em 0px;
}
div.footer div.line.sitetitle {
  font-weight: bold;
  margin-bottom: 1.5em;
}
div.footer a {
  color: #ffffff;
}
div.footer div.socials {
  margin-top: 2em;
}
div.footer div.socials a {
  margin-right: 1.5em;
  font-size: 1.25em;
}
div.footer div.socials a.email {
  margin-right: 0px;
  font-size: 0.95rem;
}
div.footer a:hover {
  color: #99ccff;
}

div.para {
  font-size: 1em;
  line-height: 1.75em;
  padding-right: 30px;
  margin-bottom: 20px;
}

div.signposts {
  margin-top: 60px;
  margin-left: -5px;
  margin-right: 15px;
}
div.signposts > div.clear {
  clear: left;
}
a.signpost {
  box-sizing: border-box;
  padding: 0px 5px;
  display: block;
  float: left;
  text-align: center;
  color: #000000;
  width: 33%;
}
a.signpost span.icon {
  display: inline-block;
  background-color: #336699;
  color: #fff9c2;
  width: 60px; height: 60px;
  border-radius: 60px;
  font-size: 30px;
}
a.signpost span.icon i {
  margin-top: 15px;
}
a.signpost span.overtitle {
  margin-top: 15px;
  display: block;
  font-weight: bold;
}
a.signpost span.title {
  margin-top: 5px;
  display: block;
  font-size: 1.15em;
  line-height: 1.35em;
}
a.signpost:hover {
  color: #003366;
}
a.signpost:hover span.icon {
  color: #faf2a1;
}

div.breadcrumbs {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 30px;
}
div.breadcrumbs a.step {
  color: #000000;
}
div.breadcrumbs a.step:hover {
  color: #336699;
}
div.breadcrumbs .step {
}
div.breadcrumbs span.divider {
  margin: 0px 0.5em;
  color: #999999;
}

div.narrative {
  margin-bottom: 40px;
  margin-top: 50px;
}
