div.stripe > div.inside {
  padding: 0px 20px;
}

div.header a.logo span.line > span {
  border-radius: 0px 2px 2px 0px;
  padding-left: 25px;
}
div.header span.socials {
  margin-right: 30px;
}
div.header a.obrlogo {
  right: 30px;
}

div.signposts {
  margin-left: 0px;
  margin-right: 0px;
}

div.envelope > div.inside {
  padding: 0px 20px;
}

div.overfooter div.inside {
  padding-right: 0px;
}
