div.stripe > div.inside {
  padding: 0px 20px;
}

div.header a.logo span.line > span {
  border-radius: 0px 2px 2px 0px;
  padding-left: 25px;
}
div.header a.maplogo {
  right: 0px;
}


div.envelope > div.inside {
  padding: 0px 20px;
}
div.envelope > div.inside > div.twothirds {
  float: none;
  width: auto;
  padding: 0px 0px 80px 0px;
}
div.envelope > div.inside > div.onethird {
  float: none;
  width: auto;
  padding: 0;
}


div.onethird a.maplogo {
  display: block;
  position: relative;
  padding: 20px 0px;
  margin-bottom: 20px;
}
div.onethird a.maplogo span.line {
  display: block;
  font-size: 1em;
  margin: 0px 0px 3px 0px;
}
div.onethird a.maplogo span.line > span {
  display: block;
  font-weight: bold;
  background-color: #444444;
  color: #fff9c2;
  border-radius: 2px;
  padding: 5px 20px 5px 100px;
}
div.onethird a.maplogo span.outline {
  background-image: url(/obrys.svg); background-position: center left; background-size: contain; background-repeat: no-repeat;
  position: absolute; top: 0px; left: 0px; bottom: 0px; width: 100px;
}
div.onethird a.maplogo:hover span.line > span {
  color: #faf2a1;
}
div.onethird a.maplogo:hover span.outline {
  top: -1px; left: -1px; bottom: -1px; width: 102px;
}
div.onethird a.maplogo span.icon {
  display: block;
  position: absolute; top: 25px; left: 35px;
  color: #e427a7;
  font-size: 20px;
}
div.onethird a.maplogo span.icon i {
  text-shadow: 0px 0px 2px #ffffff;
}

div.overfooter div.inside {
  padding-right: 0px;
}
