div.header a.maplogo {
  display: none;
}


div.menu {
  display: none;
}


div.wanter {
  width: auto;
  float: none;
  padding: 0px 0px 0px 0px;
}
div.wanter.long {
  min-height: auto;
}


div.footer div.inside {
  margin-left: 15px;
}
div.footer div.inside div.left {
  float: none
}
div.footer div.inside div.right {
  float: none;
  text-align: left;
  margin-top: 40px;
}
