div.header span.socials {
  display: none;
}
div.header a.obrlogo {
  display: none;
}


div.footer div.inside {
  margin-left: 15px;
}
div.footer div.inside div.left {
  float: none
}
div.footer div.inside div.right {
  float: none;
  text-align: left;
  margin-top: 40px;
}

a.signpost {
  float: none;
  width: auto;
  margin-bottom: 60px;
}

div.announce span.heading {
  display: inline;
}
div.announce span.content {
  display: inline;
  margin-left: 0.25em;
}
