.narrative a {border-bottom: 1px dotted #336699; padding-bottom: 2px;}
.narrative a:hover {color: #6699cc;}

.narrative span.titleIcon {
  float: left;
  text-align: center;
  margin-right: 30px;
  background-color: #336699;
  color: #fff9c2;
  width: 60px; height: 60px;
  border-radius: 60px;
  font-size: 30px;
}
.narrative span.titleIcon.prominent {
  background-color: #e427a7;
}
.narrative span.titleIcon i {
  margin-top: 15px;
}
.narrative p.overtitle {
  font-weight: bold;
  margin-bottom: 0px;
}
.narrative h1 {
  line-height: 1.25em;
  margin-top: 0px;
  margin-top: 0px;
  margin-bottom: 1em;
  font-weight: normal;
}
.narrative p.blurb {
  font-size: 1.25em;
  margin-bottom: 2em;
}


.narrative h2 {
  line-height: 1.75em;
  margin-top: 1.75em;
  margin-bottom: 1em;
  font-weight: normal;
}
.narrative h3 {
  line-height: 1.75em;
  margin-top: 1.75em;
  margin-bottom: 1em;
  font-weight: normal;
}
.narrative p {
  line-height: 1.75em;
  margin-top: 0px;
  margin-bottom: 1em;
}
.narrative ul, .narrative ol  {
  line-height: 1.75em;
  margin-bottom: 1em;
}
.narrative li {
  margin-top: 0px;
  margin-bottom: 0.5em;
}
.narrative hr {
  height: 0px;
  border: 0px;
  background-color: transparent;
  border-top: 2px dotted #eeeeee;
  margin: 1.5em 0px;
}

.narrative blockquote {
  margin-left: 0px;
  border-left: 20px solid #eeeeee;
  padding-left: 20px;
  color: #333333;
  font-style: italic;
}

.narrative strong.numero {
  background-color: #dddddd;
  padding: 3px 15px;
  border-radius: 2px;
  margin-right: 0.25em;
}

.narrative p.bigimage {
  background-color: #eeeeee;
  border-radius: 2px;
  margin: 3em 0px;
  border: 2px solid #999999;
}
.narrative p.bigimage img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 0px auto;
  border-radius: 2px;
}
.narrative p.imagecaption {
  color: #666666;
  margin: -2em 0px 3em 0px;
}
